#nr-hero {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#nr-wineinfo-container {
    display: flex;
    margin-top: 5rem;
    width: 50%;
}

#nr-wine-img {
    width: 5rem;
    height: 100%;
    margin-right: .5rem;
}

#nr-wineinfo {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#nr-wine-name {
    font-size: 25px;
    margin-bottom: 1rem;
}

#nr-wine-year {
    font-size: 20px;
}

#nr-form {
    position: relative;
    width: 50%;
    height: 325px;
    margin-top: 2rem;
    margin-bottom: 1rem;
    border: 3px solid #4F182E;
    border-radius: 2px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.nr-banner {
    width: 100%;
    background-color: rgb(79,24,46);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem;
}

.nr-banner-text {
    color: white;
    font-size: 20px;
}

#nr-banner-cancel {
    background-color: white;
    padding: .25rem;
}

#nr-content-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    margin-bottom: 1rem;
}

#nr-textarea-container {
    position: relative;
}

#nr-text {
    width: 100%;
    height: 100px;
    margin-bottom: 1rem;
}

#nr-remaining-chars {
    position: absolute;
    width: 26px;
    background-color: #ccc;
    right: 5px;
    bottom: 25px;
    font-size: 15px;
}

#nr-image-input {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

#nr-icon-container {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nr-icon {
    width: 30px;
    height: 100%;
}

#nr-rating-container {
    width: 100%;
    justify-content: center;
    display: flex;
    margin-bottom: 1rem;
}

#nr-submit {
    color: rgb(79,24,46);
    border: 1.5px solid rgb(79,24,46);
    border-radius: 2px;
}

#nr-submit:hover {
    background-color: rgb(79, 24, 46);
    color: white;
}

#nr-img-container {
    max-width: 450px;
    height: 100%;
}

#nr-img {
    width: 100%;
    height: 100%;
}

#nr-errors-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-items: flex-start;
    gap: .25rem;
    margin-bottom: 1rem;
}

.nr-error {
    color:rgb(79, 24, 46);
    font-size: 15px;
}