/* TODO Add site wide styles */

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(247, 244, 214);
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100%;
  min-height: 100vh;
}

#app-hero {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  border: none;
  padding: .25rem;
  background-color: transparent;
  font-size: 15px;
  cursor: pointer;
  border-radius: 2px;
}

textarea {
  border: none;
  resize: none;
}
