/* TODO Add site wide styles */

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(247, 244, 214)
}

#app-hero {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  border: none;
  padding: .5rem;
  background-color: transparent;
  font-size: 15px;
}

textarea {
  border: none;
  resize: none;
}