form{
    /* min-height: calc(100vh - 60px); */
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #4F182E;
    padding: 16px;
    margin-top: 2rem;
    border: 4px solid #4F182E;
    border-radius: 6px;
}

form > div {
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auth-fields {
    width: 60%;
    display: flex;
    flex-direction: column;
} 

.auth-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 1rem;
}

.auth-field > input {
    width: 100%;
    font-size: 18px;
    height: 25px;
}

.auth-label-err {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: .25rem;
}

#login-err {
    padding-bottom: 1rem;
}

.auth-err {
    color: red;
    font-weight: 400;
}

.bHold{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.bHold > button {
    margin-left: 15px;
    margin-right: 15px;
    background-color: white;
    border: solid transparent 1px;
    padding: 7px;
    color: black;
    box-sizing: border-box;
    border-radius: 7px;
    transition: all 0.5s;

}

.bHold >button:hover{
    background-color: transparent;
    border: solid black 1px;
    color: black;
    cursor: pointer;
}

input, textarea {
    font-size: 1.4em;
    border: 1px solid #4F182E;
    padding: 0 10px;
    margin: 0;
    width: 80%;
    background: none;
    border-radius: 3px;
    background-color: white;
}

select {
    font-size: 1em;
}

.auth-input {
    border: none;
}

input:focus {
    outline: 1px solid #4F182E;
}

/* 
input:focus{
    border: solid whitesmoke 1px;
} */

.form_button {
    background-color: #4F182E !important;
    color: white !important;
}

#signup-form-errors-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
    margin-left: 2.5rem;
}

