#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.7);
}

#modal-content {
  position: absolute;
  background-color: white;
  padding: 6px;
  border-radius: 10px;
  box-shadow: 0 0 20px black;
}

.delete-modal {
  border: 1px solid #4F182E;
  outline: 6px double #4F182E;
  border-radius: 2px;
  text-align: center;
  padding: 0 16px 8px;
}

.delete-modal button {
  cursor: pointer;
  margin: 0 15px;
  border: 1px solid transparent;
  padding: 7px;
  border-radius: 7px;
  transition: all 0.5s;
}

.delete-modal button:not(:last-child) {
  background-color: rgb(79,24,46);
  color: white;
}

.delete-modal button:hover {
  border: 1px solid black;
}