#nav_bar {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  background-color: #4F182E;
  height: 60px;
  position: sticky;
  top: 0;
}

#nav_bar_content {
  display: flex;
  width: 70%;
  justify-content: space-around;
}

#links {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

#logo {
  display: flex;
  color: white;
  font-size: 2.8em;
}

#title_text {
  margin-top: 5px;
  text-decoration: none;
  color: white;
}

.nav_link {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
}

#profile_button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  top: 0;
}

.profile-dropdown {
  border: solid 2px#4F182E;
  margin: 10px 20px;
  position: absolute;
  top: 90px;
  padding: 10px 20px;
  text-align: center;
  transform: translate(-32%, 0);
  background-color: white;
  border-radius: 3px;
  cursor: default;
}

.profile-dropdown > li {
  list-style-type: none;
  padding: 2px;
  margin: 0;
}

#top_tab {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #4F182E;
  position: absolute;
  top: 90px;
  text-align: center;
  transform: translate(38px, 0px);
}

#logoutButton {
  background-color: #4F182E;
  color: white;
  width: 100%;
}

#profileButton {
  background-color: white;
  border: 2px solid #4F182E;
  color: #4F182E;
  width: 100%;
}

#logoutButton, .profileButton {
  text-decoration: none;
  color: black;
  transition: all 0.2s;
  border-bottom: solid transparent 1px;
  box-sizing: border-box;
  margin-top: 2px;
  margin-bottom: 2px;
}
#logoutButton:hover,
.profileButton:hover {
  color: #4F182E;
  border-bottom: solid #4F182E 1px;
  list-style-type: circle;
}
